body{
    margin: 0;
    padding: 0;
}
table, td{
    border: 1px solid #333;
}
td{
    padding: 5px;
}
.botao{
    display: block;
    background-color: rgba(221, 221, 221, 0.432);
    float: right;
    padding: 10px;
    margin-right: 10px;
}